body {
  background-image: url("../images/ravenna.png");
  background-repeat: repeat;
  background-size: 500px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 1px;
  height: 100%;
  margin: 0;
}

.main-header {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  width: 100%;
  min-width: 800px;
  height: 80px;
  position: relative;
}

.name-box {
  background-color: #4aaaa5;
  color: #ffffff;
  width: 270px;
  height: 100%;
  position: absolute;
  left: 150px;
  padding: 0px;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  font-weight: 700;
}

nav {
  width: 270px;
  height:100%;
  position: absolute;
  right: 100px;
  top: 0;
  white-space: nowrap;
  text-align: center;
  line-height: 80px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
}

.vertical-line {
  height: 30px;
  width: 2px;
  background-color: #dddddd;;
  margin: 0px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  line-height: 10px;
  top: 10px;
} 

/*.one:hover ~ .hoverbar {
  margin-left: 27px;
}

.two:hover ~ .hoverbar {
  margin-left: 100px;
}

.three:hover ~ .hoverbar {
  margin-left: 180px;
}

.hoverbar {
  height: 2px;
  width: 55px;
  margin-bottom: 0px;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
} */

.container {
  max-width: 960px;
  min-width: 650px;
  min-height: 100%;
  float: left;
  margin-left: 150px;
  margin-bottom: 70px;
}

.main-content {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float:left;
  margin: 20px 10px 20px 0px;
  width: 650px;
} 

h2, h3 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  padding: 20px 20px 10px 20px;
  font-size: 22px;
  margin: 0px;
}

hr {
  margin: 0px 20px 0px 20px;
}

#bio-image {
  width: 253px;
  height: 219px;
  float: left;
  margin: 0px 20px 5px 20px;
}

#bio-image:hover {
    outline: 3px solid gray;
    outline-offset: 7px;
}

p {
  margin: 0px 20px 10px 20px;
  line-height: 20px;
  text-align: justify;
}



.connect-right {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float: left;
  margin: 20px 0px 20px 10px;
  text-align: center;
  width: 270px;
}

aside ul {

  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

aside ul li {
  display: inline-block;
}
 
li img {
  color: #777777;
  text-decoration: none;
  margin: 0px 10px 10px 10px;
}

li img:hover {
    outline: 3px solid gray;
    outline-offset: 5px;
}


/* Clears the float of main-content and connect-right */
.clear {
  clear: both;
  display: block;
}


 footer {
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    width: 100%;
    min-width: 800px;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    
 }


/* -------------------PORTFOLIO html CONTENT-------------------------*/


.divSquare {
  color:  #ffffff;
  display: inline-block;
  text-align: center;
  width: 270px;
  height: 205px;
  margin: 20px 20px 30px 30px;
  
}
 
.divSquare img {
  width: 270px;
  height: 205px;
}

.banner {
  background-color: #4aaaa5;
  height: 60px;
  position: relative;
  bottom: 70px;
  padding: 0px;
  z-index: 2;
  line-height: 60px;
  margin: 0px;
  width: 100%;
  font-size: 18px;
  text-align: center;
}



/*------------------CONTACT html CONTENT --------------------------- */


.input-container {
  margin: 0 20px 20px 20px;
}

input {
  border: 1px solid #cccccc;
  width: 610px;
  line-height: 20px;
}

textarea {
  border: 1px solid #cccccc;
  width: 610px;
  height: 150px;
}

.form-button {
  width: 50px;
  color:  #ffffff;
  background-color: #4aaaa5; 
}